<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='pddf_style.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='postdetail_style.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        {{ckeditor.load()}}
    </head>
    <body>

        <div>
            <div>
                {% include 'navbar.html' %}
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}

                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>

                {% endif %}
            {% endwith %}

            <div class="container p-4 .mx-auto">

                {% block content %}
                {% endblock %}

            </div>

        </div> 

        <div>
            
        </div>
        <script src="{{url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    </body>
</html>