{% extends 'base.html' %}
{% block content %}

    <div>
     <div class="jumbotron">
        <p class="lead">Hi -- I am learning flask framework. Currently trying to get the hang of back-end. Learning front-end as I go along with this mini website. </p>
        <p> I am using to record some excel and python projects I have done.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p> My Resume here link: </p>

    </div>

    <div class="flex-wrap">
        <h4>Python Projects</h4>
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body"></div>
        </div>
    </div>

        {% include 'tabmenu.html' %} 
    </div>


{% endblock %}
